@{
    ViewBag.Title = "Failure";
}

@{
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="col-md-offset-2 col-md-8">
    <form id="mf" class="form  text-center" method="post" action="/Home/ConfirmEdit" style="margin-left: 100px;">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2 class="table_content_font">Something went wrong :( ..</h2>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row"></div>
        
    </form>
   

</div>
